image: openjdk:17-alpine

stages:
    - test
    - build

maven-test:
    image: maven:3.8.3-openjdk-17
    stage: test
    script: 'mvn test'

maven-build:
    image: maven:3.8.3-openjdk-17
    stage: build
    script: 'mvn package'   
